/* line 1, ../sass/_btn.scss */
button, button:active, button:hover, button:visited, button:focus {
  outline: none !important;
  cursor: pointer;
}

/* line 5, ../sass/_btn.scss */
a, a:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* line 10, ../sass/_btn.scss */
.yellow-btn {
  height: 40px;
  background-color: #FFCC00;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  vertical-align: middle;
  border: none;
  outline: none;
  padding: 0 25px;
  color: #023574;
}
/* line 26, ../sass/_btn.scss */
.yellow-btn:focus {
  border: none;
  outline: none;
}
/* line 30, ../sass/_btn.scss */
.yellow-btn:hover {
  background-color: #e8b900;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
/* line 5, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* line 11, ../sass/style.scss */
#header__nav-bar {
  background-color: #023574;
}

/* line 14, ../sass/style.scss */
.navigation-bar {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
/* line 20, ../sass/style.scss */
.navigation-bar__collapse {
  display: none;
  width: 34px;
  height: 28px;
  padding: 0;
  position: relative;
}
/* line 26, ../sass/style.scss */
.navigation-bar__collapse a {
  width: 30px;
  display: flex;
  height: 100%;
  position: relative;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
/* line 37, ../sass/style.scss */
.navigation-bar__collapse div {
  width: 100%;
  height: 4px;
  background-color: #FFCC00;
}
/* line 43, ../sass/style.scss */
.navigation-bar__logo {
  padding: 0;
  position: relative;
}
/* line 46, ../sass/style.scss */
.navigation-bar__logo a {
  display: inline-block;
  width: auto;
  height: 28px;
}
/* line 52, ../sass/style.scss */
.navigation-bar__logo picture img {
  height: 100%;
}
/* line 58, ../sass/style.scss */
.navigation-bar__info span {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
  margin-right: 10px;
}
/* line 66, ../sass/style.scss */
.navigation-bar__info a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
}
/* line 72, ../sass/style.scss */
.navigation-bar__info a:hover {
  opacity: 0.8;
}
/* line 77, ../sass/style.scss */
.navigation-bar__nav {
  padding-right: 0;
}
/* line 79, ../sass/style.scss */
.navigation-bar__nav nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
/* line 85, ../sass/style.scss */
.navigation-bar__nav__language {
  position: relative;
  display: inline-flex;
  width: 65px;
  min-height: 32px;
  margin-left: 20px;
}
/* line 91, ../sass/style.scss */
.navigation-bar__nav__language a {
  display: inline-block;
}
/* line 94, ../sass/style.scss */
.navigation-bar__nav__language:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
  width: 1px;
  background-color: #4E719D;
}
/* line 103, ../sass/style.scss */
.navigation-bar__nav__language__active {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 32px;
  text-align: right;
}
/* line 109, ../sass/style.scss */
.navigation-bar__nav__language__active a {
  vertical-align: middle;
  width: auto;
  height: 14px;
  padding-right: 22px;
  position: relative;
}
/* line 115, ../sass/style.scss */
.navigation-bar__nav__language__active a:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  background: url("../img/arrow_drop_down.svg") no-repeat center;
  background-size: contain;
  right: 0;
  top: 50%;
}
/* line 125, ../sass/style.scss */
.navigation-bar__nav__language__active a picture {
  height: 100%;
}
/* line 128, ../sass/style.scss */
.navigation-bar__nav__language__active a img {
  vertical-align: baseline;
  height: 100%;
  width: auto;
}
/* line 135, ../sass/style.scss */
.navigation-bar__nav__language__drop {
  position: absolute;
  min-height: 32px;
  text-align: right;
  display: flex;
  flex-direction: column;
  background-color: #023574;
  right: 0;
  top: 48px;
  padding: 15px;
  z-index: 1;
  border-radius: 0 0 6px 6px;
}
/* line 147, ../sass/style.scss */
.navigation-bar__nav__language__drop.lang-collapse {
  display: none;
}
/* line 150, ../sass/style.scss */
.navigation-bar__nav__language__drop a {
  vertical-align: middle;
  width: auto;
  height: 14px;
  position: relative;
  margin-bottom: 10px;
  padding: 0;
  white-space: nowrap;
}
/* line 159, ../sass/style.scss */
.navigation-bar__nav__language__drop a:hover p {
  opacity: 0.8;
}
/* line 163, ../sass/style.scss */
.navigation-bar__nav__language__drop a p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 14px;
  color: white;
}
/* line 171, ../sass/style.scss */
.navigation-bar__nav__language__drop a picture {
  height: 100%;
}
/* line 174, ../sass/style.scss */
.navigation-bar__nav__language__drop a img {
  vertical-align: baseline;
  height: 100%;
  width: auto;
}
/* line 182, ../sass/style.scss */
.navigation-bar__nav ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  flex-direction: row;
  margin: 0;
}
/* line 188, ../sass/style.scss */
.navigation-bar__nav ul li {
  margin-left: 25px;
}
/* line 190, ../sass/style.scss */
.navigation-bar__nav ul li a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 28px;
}
/* line 195, ../sass/style.scss */
.navigation-bar__nav ul li a:hover {
  opacity: 0.8;
}

/* line 203, ../sass/style.scss */
#header__calendar {
  background: url("../img/img_main.jpg") no-repeat center grey;
  background-size: cover;
  position: relative;
  margin-bottom: 40px;
}

/* line 209, ../sass/style.scss */
.calendar {
  height: 656px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-bottom: 80px;
}
/* line 216, ../sass/style.scss */
.calendar__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 60px;
  line-height: 71px;
  margin-bottom: 30px;
}
/* line 223, ../sass/style.scss */
.calendar__body {
  width: 100%;
  height: 48px;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
/* line 230, ../sass/style.scss */
.calendar__body form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 0;
}
/* line 238, ../sass/style.scss */
.calendar__body__point {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
/* line 243, ../sass/style.scss */
.calendar__body__point input::-moz-placeholder {
  color: #023574;
  font-weight: 600;
  line-height: 26px;
  font-size: 16px;
  opacity: 0.8;
}
/* line 250, ../sass/style.scss */
.calendar__body__point input::-webkit-input-placeholder {
  color: #023574;
  font-weight: 600;
  line-height: 26px;
  font-size: 16px;
  opacity: 0.8;
}
/* line 257, ../sass/style.scss */
.calendar__body__point input {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 26px;
  color: #023574;
}
/* line 267, ../sass/style.scss */
.calendar__body__point input:focus {
  border: none;
  outline: none;
}
/* line 272, ../sass/style.scss */
.calendar__body__point.input-date {
  padding: 10px 0;
}
/* line 275, ../sass/style.scss */
.calendar__body__point.button-block {
  padding: 3px 3px 4px 3px;
}
/* line 278, ../sass/style.scss */
.calendar__body__point__input {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
}
/* line 285, ../sass/style.scss */
.calendar__body__point__input img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
/* line 291, ../sass/style.scss */
.calendar__body__point__input input {
  width: 100%;
}
/* line 294, ../sass/style.scss */
.calendar__body__point__input-date {
  width: 50%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 50px;
  padding-right: 32px;
}
/* line 302, ../sass/style.scss */
.calendar__body__point__input-date:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  background: url("../img/arrow_drop_down.svg") no-repeat center;
  background-size: contain;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 313, ../sass/style.scss */
.calendar__body__point__input-date:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #D8D8D8;
}
/* line 322, ../sass/style.scss */
.calendar__body__point__input-date img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
/* line 328, ../sass/style.scss */
.calendar__body__point__input-date span {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 28px;
  color: black;
  opacity: 0.5;
  display: inline-block;
  margin-right: 5px;
}
/* line 337, ../sass/style.scss */
.calendar__body__point__input-date input {
  width: auto;
  max-width: 60%;
}
/* line 343, ../sass/style.scss */
.calendar__body__point button {
  width: 100%;
  height: 100%;
  background-color: #FFCC00;
  border: none;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: #023574;
  font-size: 15px;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}
/* line 359, ../sass/style.scss */
.calendar__body__point button p {
  margin-bottom: 0;
}
/* line 362, ../sass/style.scss */
.calendar__body__point button:focus {
  border: none;
  outline: none;
}
/* line 366, ../sass/style.scss */
.calendar__body__point button:hover {
  background-color: #e8b900;
}
/* line 372, ../sass/style.scss */
.calendar__footer {
  position: absolute;
  bottom: -40px;
  height: 40px;
  left: 0;
  width: 100%;
  background-color: #F8F8F8;
}
/* line 379, ../sass/style.scss */
.calendar__footer__body {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 385, ../sass/style.scss */
.calendar__footer__body__rate {
  margin-right: 15px;
}
/* line 387, ../sass/style.scss */
.calendar__footer__body__rate a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
/* line 392, ../sass/style.scss */
.calendar__footer__body__rate__wrapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
/* line 397, ../sass/style.scss */
.calendar__footer__body__rate__wrapp__star {
  width: 23px;
  height: 23px;
  margin-right: 3px;
  position: relative;
}
/* line 402, ../sass/style.scss */
.calendar__footer__body__rate__wrapp__star img {
  height: 100%;
  width: auto;
}
/* line 410, ../sass/style.scss */
.calendar__footer__body__link a {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: #023574;
  font-size: 16px;
  line-height: 19px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  vertical-align: bottom;
}

/* line 423, ../sass/style.scss */
.how-works {
  margin-top: 65px;
  margin-bottom: 80px;
}
/* line 426, ../sass/style.scss */
.how-works__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 48px;
  line-height: 57px;
  color: #023574;
  width: 100%;
  margin-bottom: 25px;
}
/* line 434, ../sass/style.scss */
.how-works__sub-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: black;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}
/* line 444, ../sass/style.scss */
.how-works__body__card__wrapp {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  min-height: 290px;
  background-color: white;
}
/* line 449, ../sass/style.scss */
.how-works__body__card__wrapp__ico {
  height: 140px;
  width: 100%;
  position: relative;
  padding: 32px 0;
  text-align: center;
}
/* line 455, ../sass/style.scss */
.how-works__body__card__wrapp__ico:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 25%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #FFCC00;
}
/* line 465, ../sass/style.scss */
.how-works__body__card__wrapp__ico img {
  height: 100%;
  text-align: center;
}
/* line 470, ../sass/style.scss */
.how-works__body__card__wrapp__text {
  width: 100%;
  padding: 20px 30px;
}
/* line 473, ../sass/style.scss */
.how-works__body__card__wrapp__text p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 22px;
  color: black;
  text-align: center;
  margin-bottom: 0;
}
/* line 481, ../sass/style.scss */
.how-works__body__card__wrapp__text .how-works__body__card__wrapp__text__title {
  color: #023574;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 15px;
}

/* line 493, ../sass/style.scss */
.parking-about {
  margin-bottom: 80px;
}
/* line 495, ../sass/style.scss */
.parking-about__images {
  position: relative;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}
/* line 499, ../sass/style.scss */
.parking-about__images img {
  width: 100%;
  height: auto;
}
/* line 504, ../sass/style.scss */
.parking-about__text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 18px;
}
/* line 509, ../sass/style.scss */
.parking-about__text h2 {
  color: #023574;
  font-size: 48px;
  line-height: 57px;
  font-weight: 600;
  margin-bottom: 35px;
}
/* line 516, ../sass/style.scss */
.parking-about__text p {
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}

/* line 522, ../sass/style.scss */
#first-look {
  position: relative;
  padding-top: 45px;
  margin-bottom: 80px;
}

/* line 528, ../sass/style.scss */
.first-look__bg {
  width: 100%;
  background-color: #FFCC00;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 16px 0 rgba(0, 0, 0, 0.1);
}
/* line 537, ../sass/style.scss */
.first-look__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 48px;
  line-height: 57px;
  color: #023574;
  margin-bottom: 25px;
  position: relative;
}
/* line 545, ../sass/style.scss */
.first-look__card {
  width: 100%;
  position: relative;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  min-height: 220px;
}
/* line 551, ../sass/style.scss */
.first-look__card__img {
  width: 100%;
  padding: 30px 0 25px 0;
  text-align: center;
  height: 140px;
  position: relative;
}
/* line 557, ../sass/style.scss */
.first-look__card__img:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25%;
  height: 4px;
  transform: translateX(-50%);
  background-color: #FFCC00;
}
/* line 567, ../sass/style.scss */
.first-look__card__img img {
  height: 100%;
}
/* line 571, ../sass/style.scss */
.first-look__card__text {
  padding: 10px 35px 20px 35px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: black;
  font-size: 16px;
  line-height: 16px;
}
/* line 577, ../sass/style.scss */
.first-look__card__text__title {
  font-weight: 600;
  color: #023574;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/* line 586, ../sass/style.scss */
.reservation {
  margin-bottom: 45px;
  align-items: stretch;
}
/* line 589, ../sass/style.scss */
.reservation__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: black;
  font-size: 16px;
  line-height: 28px;
}
/* line 594, ../sass/style.scss */
.reservation__text h2 {
  color: #023574;
  font-size: 48px;
  line-height: 57px;
  margin-bottom: 25px;
}
/* line 600, ../sass/style.scss */
.reservation__text p {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}
/* line 608, ../sass/style.scss */
.reservation__block__wrap {
  height: 100%;
  background-color: #023574;
  box-shadow: 2px 2px 8px 0 rgba(106, 106, 106, 0.2), 0 2px 16px 0 rgba(186, 186, 186, 0.2);
  padding: 45px 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 18px;
  line-height: 21px;
  color: white;
}
/* line 617, ../sass/style.scss */
.reservation__block__wrap__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  color: #FFCC00;
  margin-bottom: 15px;
}
/* line 624, ../sass/style.scss */
.reservation__block__wrap__sub-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  color: white;
  margin-bottom: 15px;
  padding-bottom: 30px;
  position: relative;
}
/* line 632, ../sass/style.scss */
.reservation__block__wrap__sub-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #3892CE;
  height: 4px;
  width: 64px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
/* line 643, ../sass/style.scss */
.reservation__block__wrap__par {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.25px;
  margin-bottom: 35px;
}

/* line 654, ../sass/style.scss */
.partners {
  margin-bottom: 80px;
}
/* line 656, ../sass/style.scss */
.partners__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 48px;
  line-height: 57px;
  color: #023574;
  margin-bottom: 45px;
  width: 100%;
}
/* line 664, ../sass/style.scss */
.partners__body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 669, ../sass/style.scss */
.partners__body__card {
  width: 20%;
  cursor: pointer;
  display: inline-block;
}
/* line 673, ../sass/style.scss */
.partners__body__card__wrap {
  width: 100%;
  position: relative;
  padding: 0 10%;
}
/* line 678, ../sass/style.scss */
.partners__body__card img {
  width: 100%;
  height: auto;
}

/* line 685, ../sass/style.scss */
#subscribe {
  background-color: #3892CE;
  padding: 50px 0;
}

/* line 690, ../sass/style.scss */
.footer__subscribe {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 694, ../sass/style.scss */
.footer__subscribe__block {
  padding: 0;
}
/* line 697, ../sass/style.scss */
.footer__subscribe__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 48px;
  line-height: 57px;
  color: white;
  margin-bottom: 0;
}
/* line 704, ../sass/style.scss */
.footer__subscribe__sub-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 28px;
  color: white;
  margin-bottom: 0;
}
/* line 711, ../sass/style.scss */
.footer__subscribe__input {
  width: 90%;
  margin: 0 0 0 auto;
  height: 48px;
  background-color: white;
  border: 1px solid #D5D5D5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 3px 3px 4px 3px;
  position: relative;
  display: flex;
  flex-direction: row;
}
/* line 723, ../sass/style.scss */
.footer__subscribe__input input.footer__subscribe__input__text::-moz-placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 729, ../sass/style.scss */
.footer__subscribe__input input.footer__subscribe__input__text::-webkit-input-placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 735, ../sass/style.scss */
.footer__subscribe__input__text {
  flex-grow: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 15px;
  border: none;
  outline: none;
}
/* line 744, ../sass/style.scss */
.footer__subscribe__input__text:focus {
  border: none;
  outline: none;
}
/* line 749, ../sass/style.scss */
.footer__subscribe__input__submit {
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  height: 100%;
  background-color: #FFCC00;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: #023574;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 0 30px;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer;
}
/* line 764, ../sass/style.scss */
.footer__subscribe__input__submit:focus {
  border: none;
  outline: none;
}
/* line 768, ../sass/style.scss */
.footer__subscribe__input__submit:hover {
  background-color: #e8b900;
}
/* line 774, ../sass/style.scss */
.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 779, ../sass/style.scss */
.footer__info__about__logo {
  position: relative;
  height: 28px;
  margin-bottom: 30px;
}
/* line 783, ../sass/style.scss */
.footer__info__about__logo a {
  display: inline-block;
  position: relative;
  height: 100%;
}
/* line 787, ../sass/style.scss */
.footer__info__about__logo a img {
  height: 100%;
}
/* line 792, ../sass/style.scss */
.footer__info__about p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 30px;
}
/* line 802, ../sass/style.scss */
.footer__info__property__block {
  margin-bottom: 30px;
}
/* line 804, ../sass/style.scss */
.footer__info__property__block__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 15px;
}
/* line 812, ../sass/style.scss */
.footer__info__property__block ul {
  list-style-type: none;
  padding: 0;
}
/* line 815, ../sass/style.scss */
.footer__info__property__block ul li {
  margin-bottom: 5px;
}
/* line 817, ../sass/style.scss */
.footer__info__property__block ul li a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}
/* line 824, ../sass/style.scss */
.footer__info__property__block ul li a:hover {
  color: rgba(255, 255, 255, 0.4);
}
/* line 833, ../sass/style.scss */
.footer__info__information__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 15px;
}
/* line 841, ../sass/style.scss */
.footer__info__information ul {
  list-style-type: none;
  padding: 0;
}
/* line 844, ../sass/style.scss */
.footer__info__information ul li {
  margin-bottom: 5px;
}
/* line 846, ../sass/style.scss */
.footer__info__information ul li a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}
/* line 853, ../sass/style.scss */
.footer__info__information ul li a:hover {
  color: rgba(255, 255, 255, 0.4);
}
/* line 861, ../sass/style.scss */
.footer__info__social__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 15px;
}
/* line 869, ../sass/style.scss */
.footer__info__social ul {
  list-style-type: none;
  padding: 0;
}
/* line 872, ../sass/style.scss */
.footer__info__social ul li {
  margin-bottom: 5px;
}
/* line 874, ../sass/style.scss */
.footer__info__social ul li a {
  display: inline-block;
  height: 24px;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}
/* line 884, ../sass/style.scss */
.footer__info__social ul li a img {
  margin-right: 5px;
}
/* line 887, ../sass/style.scss */
.footer__info__social ul li a:hover {
  color: rgba(255, 255, 255, 0.4);
}
/* line 893, ../sass/style.scss */
.footer__info__social__label {
  margin-top: 60px;
  width: 80%;
  position: relative;
}
/* line 897, ../sass/style.scss */
.footer__info__social__label img {
  width: 100%;
  height: auto;
}

/* line 905, ../sass/style.scss */
#footer {
  background-color: #023574;
  padding: 50px 0;
}

@media screen and (max-width: 1199px) {
  /* line 2, ../sass/_media.scss */
  .navigation-bar__info {
    text-align: center;
  }

  /* line 5, ../sass/_media.scss */
  .navigation-bar__info span {
    margin-right: 0;
  }

  /* line 8, ../sass/_media.scss */
  .calendar {
    height: 500px;
    padding-bottom: 40px;
  }

  /* line 12, ../sass/_media.scss */
  .how-works__body__card__wrapp__ico {
    height: 120px;
    padding: 15px 0;
  }

  /* line 16, ../sass/_media.scss */
  .how-works__body__card__wrapp__text {
    padding: 15px 20px;
  }

  /* line 19, ../sass/_media.scss */
  .first-look__card__img {
    padding: 15px 0;
    height: 120px;
  }

  /* line 23, ../sass/_media.scss */
  .first-look__card__text {
    padding: 20px 35px 20px 35px;
  }

  /* line 26, ../sass/_media.scss */
  .reservation__block__wrap__title {
    font-size: 40px;
    margin-bottom: 5px;
  }

  /* line 30, ../sass/_media.scss */
  .reservation__block__wrap__sub-title {
    font-size: 38px;
  }

  /* line 33, ../sass/_media.scss */
  .reservation__block__wrap__par {
    font-size: 18px;
  }

  /* line 36, ../sass/_media.scss */
  .reservation__block__wrap {
    padding: 35px 30px;
  }

  /* line 39, ../sass/_media.scss */
  .footer__subscribe__title {
    font-size: 42px;
  }
}
@media screen and (max-width: 991px) {
  /* line 44, ../sass/_media.scss */
  .navigation-bar__info {
    text-align: right;
  }

  /* line 47, ../sass/_media.scss */
  .navigation-bar__info span {
    margin-right: 10px;
  }

  /* line 50, ../sass/_media.scss */
  .navigation-bar__nav nav {
    justify-content: space-between;
  }

  /* line 53, ../sass/_media.scss */
  .navigation-bar__nav ul li {
    margin-left: 0;
    margin-right: 25px;
  }

  /* line 57, ../sass/_media.scss */
  .navigation-bar__nav {
    padding-left: 0;
  }

  /* line 60, ../sass/_media.scss */
  .calendar__title {
    font-size: 48px;
    line-height: 58px;
  }

  /* line 64, ../sass/_media.scss */
  .calendar__body__point {
    flex-wrap: wrap;
    height: auto;
  }

  /* line 68, ../sass/_media.scss */
  .calendar__body form {
    flex-wrap: wrap;
  }

  /* line 71, ../sass/_media.scss */
  .calendar__body__point.button-block {
    align-items: center;
    margin-top: 10px;
  }

  /* line 75, ../sass/_media.scss */
  .calendar__body__point button {
    height: auto;
    padding: 12px 18px 8px 18px;
    width: auto;
    margin: 0 auto;
  }

  /* line 81, ../sass/_media.scss */
  .how-works__sub-title {
    margin-bottom: 30px;
  }

  /* line 84, ../sass/_media.scss */
  .how-works__body__card {
    margin-bottom: 30px;
  }

  /* line 87, ../sass/_media.scss */
  .how-works__body__card__wrapp {
    min-height: 200px;
  }

  /* line 90, ../sass/_media.scss */
  .how-works__body__card__wrapp__ico {
    height: 100px;
    padding: 5px 0;
  }

  /* line 94, ../sass/_media.scss */
  .how-works__body__card__wrapp__text .how-works__body__card__wrapp__text__title {
    margin-bottom: 5px;
  }

  /* line 97, ../sass/_media.scss */
  .how-works__title {
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 15px;
  }

  /* line 102, ../sass/_media.scss */
  .how-works {
    margin-bottom: 40px;
  }

  /* line 105, ../sass/_media.scss */
  .parking-about__text h2 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 25px;
  }

  /* line 110, ../sass/_media.scss */
  .parking-about__text p {
    margin-bottom: 15px;
  }

  /* line 113, ../sass/_media.scss */
  .parking-about {
    margin-bottom: 40px;
  }

  /* line 116, ../sass/_media.scss */
  .first-look__card__img {
    padding: 10px 0;
    height: 90px;
  }

  /* line 120, ../sass/_media.scss */
  .first-look__card__text {
    padding: 15px;
    font-size: 15px;
  }

  /* line 124, ../sass/_media.scss */
  .first-look__card {
    min-height: 190px;
  }

  /* line 127, ../sass/_media.scss */
  .first-look__bg {
    height: 250px;
  }

  /* line 130, ../sass/_media.scss */
  #first-look {
    margin-bottom: 60px;
  }

  /* line 133, ../sass/_media.scss */
  .reservation__text h2 {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 20px;
  }

  /* line 138, ../sass/_media.scss */
  .reservation__text p {
    margin-bottom: 10px;
  }

  /* line 141, ../sass/_media.scss */
  .reservation__text {
    line-height: 22px;
  }

  /* line 144, ../sass/_media.scss */
  .reservation__block__wrap {
    padding: 15px 20px;
  }

  /* line 147, ../sass/_media.scss */
  .reservation__block__wrap__title {
    line-height: 40px;
  }

  /* line 150, ../sass/_media.scss */
  .reservation__block__wrap__sub-title {
    padding-bottom: 10px;
  }

  /* line 153, ../sass/_media.scss */
  .reservation__block__wrap__par {
    margin-bottom: 15px;
  }

  /* line 156, ../sass/_media.scss */
  .partners__title {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 25px;
  }

  /* line 161, ../sass/_media.scss */
  .partners__body__card__wrap {
    padding: 0 5%;
  }

  /* line 164, ../sass/_media.scss */
  .partners {
    margin-bottom: 40px;
  }

  /* line 167, ../sass/_media.scss */
  #subscribe {
    padding: 30px 0;
  }

  /* line 170, ../sass/_media.scss */
  .footer__subscribe__title {
    font-size: 32px;
    line-height: 42px;
  }

  /* line 174, ../sass/_media.scss */
  .footer__subscribe__sub-title {
    font-size: 14px;
  }

  /* line 177, ../sass/_media.scss */
  .footer__subscribe__input {
    width: 100%;
  }

  /* line 180, ../sass/_media.scss */
  .footer__info__about__logo {
    margin-bottom: 10px;
  }

  /* line 183, ../sass/_media.scss */
  .footer__info__about p {
    margin-bottom: 10px;
  }

  /* line 186, ../sass/_media.scss */
  .footer__info__property__block__title {
    margin-bottom: 5px;
  }

  /* line 189, ../sass/_media.scss */
  .footer__info__property__block ul li {
    margin-bottom: 0;
  }

  /* line 192, ../sass/_media.scss */
  .footer__info__property__block ul {
    margin-bottom: 0;
  }

  /* line 195, ../sass/_media.scss */
  .footer__info__property__block {
    margin-bottom: 20px;
  }

  /* line 198, ../sass/_media.scss */
  .footer__info__information__title {
    margin-bottom: 5px;
  }

  /* line 201, ../sass/_media.scss */
  .footer__info__information ul {
    margin-bottom: 0;
  }

  /* line 204, ../sass/_media.scss */
  .footer__info__information ul li {
    margin-bottom: 0;
  }

  /* line 207, ../sass/_media.scss */
  .footer__info__social ul li a {
    white-space: nowrap;
  }

  /* line 210, ../sass/_media.scss */
  .footer__info__social__label {
    width: 100%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  /* line 216, ../sass/_media.scss */
  .navigation-bar__info {
    padding: 0;
    justify-content: space-around;
    display: flex;
  }

  /* line 221, ../sass/_media.scss */
  .calendar__title {
    font-size: 36px;
    line-height: 42px;
  }

  /* line 225, ../sass/_media.scss */
  .calendar__body {
    height: auto;
  }

  /* line 228, ../sass/_media.scss */
  .calendar__body__point {
    padding: 10px 20px;
  }

  /* line 231, ../sass/_media.scss */
  .calendar__body__point__input-date:nth-child(1):before {
    height: 0;
  }

  /* line 234, ../sass/_media.scss */
  .calendar__body__point.button-block {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  /* line 238, ../sass/_media.scss */
  .parking-about__text h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 15px;
  }

  /* line 243, ../sass/_media.scss */
  .parking-about__text p {
    letter-spacing: 0;
    margin-bottom: 10px;
  }

  /* line 247, ../sass/_media.scss */
  .parking-about__text {
    font-size: 14px;
    line-height: 16px;
  }

  /* line 251, ../sass/_media.scss */
  .first-look__title {
    font-size: 36px;
    line-height: 48px;
  }

  /* line 255, ../sass/_media.scss */
  #first-look {
    padding-top: 25px;
    margin-bottom: 20px;
  }

  /* line 259, ../sass/_media.scss */
  .first-look__card {
    min-height: 170px;
    margin-bottom: 30px;
  }

  /* line 263, ../sass/_media.scss */
  .first-look__bg {
    height: 220px;
  }

  /* line 266, ../sass/_media.scss */
  .partners__body {
    flex-wrap: wrap;
  }

  /* line 269, ../sass/_media.scss */
  .partners__body__card {
    width: 30%;
    margin-bottom: 20px;
  }

  /* line 273, ../sass/_media.scss */
  .partners__body__card__wrap {
    padding: 0 10%;
  }

  /* line 276, ../sass/_media.scss */
  .footer__subscribe__block {
    margin-bottom: 15px;
  }

  /* line 279, ../sass/_media.scss */
  .footer__info__social__label {
    width: 50%;
  }
}
@media screen and (max-width: 574px) {
  /* line 284, ../sass/_media.scss */
  .navigation-bar__info {
    display: none;
    flex-wrap: wrap;
  }

  /* line 288, ../sass/_media.scss */
  .navigation-bar__nav {
    display: none;
  }

  /* line 291, ../sass/_media.scss */
  .navigation-bar__collapse {
    display: block;
  }

  /* line 294, ../sass/_media.scss */
  .navigation-bar__info span {
    margin: 10px 0;
  }

  /* line 297, ../sass/_media.scss */
  .navigation-bar__info a {
    margin-bottom: 10px;
  }

  /* line 300, ../sass/_media.scss */
  .navigation-bar__nav nav {
    align-items: center;
    flex-direction: column;
  }

  /* line 304, ../sass/_media.scss */
  .navigation-bar__nav ul {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  /* line 309, ../sass/_media.scss */
  .navigation-bar__nav__language {
    margin-left: 0;
    width: 100%;
  }

  /* line 313, ../sass/_media.scss */
  .navigation-bar__nav__language:before {
    width: 0;
  }

  /* line 316, ../sass/_media.scss */
  .navigation-bar__nav__language__active a {
    height: 22px;
    padding-right: 36px;
  }

  /* line 320, ../sass/_media.scss */
  .navigation-bar__nav__language__active {
    text-align: center;
  }

  /* line 323, ../sass/_media.scss */
  .navigation-bar__nav__language__active a:before {
    right: 10px;
    width: 15px;
    height: 8px;
    top: 8px;
  }

  /* line 329, ../sass/_media.scss */
  .navigation-bar__nav__language__drop {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  /* line 335, ../sass/_media.scss */
  .calendar__title {
    font-size: 26px;
    line-height: 28px;
  }

  /* line 339, ../sass/_media.scss */
  .calendar {
    height: 400px;
  }

  /* line 342, ../sass/_media.scss */
  .calendar__body__point__input-date {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* line 347, ../sass/_media.scss */
  .calendar__body__point__input-date:before {
    width: 95%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }

  /* line 354, ../sass/_media.scss */
  .calendar__body__point__input-date:nth-child(1):before {
    height: 2px;
  }

  /* line 357, ../sass/_media.scss */
  .calendar__footer__body__rate {
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  /* line 362, ../sass/_media.scss */
  .calendar__footer__body__link a {
    text-align: center;
    padding: 0 30px;
  }

  /* line 366, ../sass/_media.scss */
  .calendar__footer {
    height: 90px;
    bottom: -90px;
  }

  /* line 370, ../sass/_media.scss */
  #header__calendar {
    margin-bottom: 110px;
  }

  /* line 373, ../sass/_media.scss */
  .how-works__title {
    font-size: 30px;
    line-height: 44px;
  }

  /* line 377, ../sass/_media.scss */
  .how-works__body__card {
    margin-bottom: 15px;
  }

  /* line 380, ../sass/_media.scss */
  .parking-about__images {
    width: 260px;
    margin: 0 auto;
  }

  /* line 384, ../sass/_media.scss */
  .how-works {
    margin-bottom: 20px;
  }

  /* line 387, ../sass/_media.scss */
  .first-look__card {
    min-height: auto;
  }

  /* line 390, ../sass/_media.scss */
  .how-works__body__card__wrapp {
    min-height: auto;
  }

  /* line 393, ../sass/_media.scss */
  .first-look__title {
    font-size: 28px;
    line-height: 36px;
  }

  /* line 397, ../sass/_media.scss */
  .reservation__text h2 {
    font-size: 34px;
    line-height: 34px;
  }

  /* line 401, ../sass/_media.scss */
  .reservation__block__wrap__title {
    font-size: 32px;
  }

  /* line 404, ../sass/_media.scss */
  .reservation__block__wrap__sub-title {
    font-size: 28px;
    line-height: 44px;
  }

  /* line 408, ../sass/_media.scss */
  .partners__title {
    padding: 0 15px;
    font-size: 36px;
    line-height: 38px;
  }

  /* line 413, ../sass/_media.scss */
  .partners__body__card {
    width: 50%;
  }

  /* line 416, ../sass/_media.scss */
  .footer__subscribe {
    padding: 0 15px;
  }

  /* line 419, ../sass/_media.scss */
  .footer__subscribe__title {
    font-size: 24px;
    line-height: 28px;
  }

  /* line 423, ../sass/_media.scss */
  .footer__subscribe__sub-title {
    line-height: 20px;
  }

  /* line 426, ../sass/_media.scss */
  .footer__subscribe__input__text {
    padding: 0 5px;
  }

  /* line 429, ../sass/_media.scss */
  .footer__subscribe__input__submit {
    padding: 0 5px;
  }

  /* line 432, ../sass/_media.scss */
  .footer__info__about__logo {
    text-align: center;
  }

  /* line 435, ../sass/_media.scss */
  #footer {
    padding: 30px 0;
  }

  /* line 438, ../sass/_media.scss */
  .footer__info__about p {
    text-align: center;
  }

  /* line 441, ../sass/_media.scss */
  .footer__info__property__block {
    text-align: center;
  }

  /* line 444, ../sass/_media.scss */
  .footer__info__information {
    text-align: center;
  }

  /* line 447, ../sass/_media.scss */
  .footer__info__social {
    text-align: center;
    margin-top: 15px;
  }

  /* line 451, ../sass/_media.scss */
  .footer__info__social__label {
    margin-left: auto;
    margin-right: auto;
  }
}
