/* line 1, ../sass/_btn.scss */
button, button:active, button:hover, button:visited, button:focus {
  outline: none !important;
  cursor: pointer;
}

/* line 5, ../sass/_btn.scss */
a, a:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* line 10, ../sass/_btn.scss */
.yellow-btn {
  height: 40px;
  background-color: #FFCC00;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  vertical-align: middle;
  border: none;
  outline: none;
  padding: 0 25px;
  color: #023574;
}
/* line 26, ../sass/_btn.scss */
.yellow-btn.wide-btn {
  padding: 0 55px;
}
/* line 29, ../sass/_btn.scss */
.yellow-btn:focus {
  border: none;
  outline: none;
}
/* line 33, ../sass/_btn.scss */
.yellow-btn:hover {
  background-color: #e8b900;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
/* line 5, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

/* line 12, ../sass/style.scss */
header {
  margin-bottom: 95px;
}

/* line 15, ../sass/style.scss */
#header__nav-bar {
  background-color: #023574;
}

/* line 18, ../sass/style.scss */
.navigation-bar {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
/* line 24, ../sass/style.scss */
.navigation-bar__collapse {
  display: none;
  width: 34px;
  height: 28px;
  padding: 0;
  position: relative;
}
/* line 30, ../sass/style.scss */
.navigation-bar__collapse a {
  width: 30px;
  display: flex;
  height: 100%;
  position: relative;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
/* line 41, ../sass/style.scss */
.navigation-bar__collapse div {
  width: 100%;
  height: 4px;
  background-color: #FFCC00;
}
/* line 47, ../sass/style.scss */
.navigation-bar__logo {
  padding: 0;
  position: relative;
}
/* line 50, ../sass/style.scss */
.navigation-bar__logo a {
  display: inline-block;
  width: auto;
  height: 28px;
}
/* line 56, ../sass/style.scss */
.navigation-bar__logo picture img {
  height: 100%;
}
/* line 62, ../sass/style.scss */
.navigation-bar__info span {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
  margin-right: 10px;
}
/* line 70, ../sass/style.scss */
.navigation-bar__info a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
}
/* line 76, ../sass/style.scss */
.navigation-bar__info a:hover {
  opacity: 0.8;
}
/* line 81, ../sass/style.scss */
.navigation-bar__nav {
  padding-right: 0;
}
/* line 83, ../sass/style.scss */
.navigation-bar__nav nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
/* line 89, ../sass/style.scss */
.navigation-bar__nav__language {
  position: relative;
  display: inline-flex;
  width: 65px;
  min-height: 32px;
  margin-left: 20px;
}
/* line 95, ../sass/style.scss */
.navigation-bar__nav__language a {
  display: inline-block;
}
/* line 98, ../sass/style.scss */
.navigation-bar__nav__language:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
  width: 1px;
  background-color: #4E719D;
}
/* line 107, ../sass/style.scss */
.navigation-bar__nav__language__active {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 32px;
  text-align: right;
}
/* line 113, ../sass/style.scss */
.navigation-bar__nav__language__active a {
  vertical-align: middle;
  width: auto;
  height: 14px;
  padding-right: 22px;
  position: relative;
}
/* line 119, ../sass/style.scss */
.navigation-bar__nav__language__active a:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  background: url("../img/arrow_drop_down.svg") no-repeat center;
  background-size: contain;
  right: 0;
  top: 50%;
}
/* line 129, ../sass/style.scss */
.navigation-bar__nav__language__active a picture {
  height: 100%;
}
/* line 132, ../sass/style.scss */
.navigation-bar__nav__language__active a img {
  vertical-align: baseline;
  height: 100%;
  width: auto;
}
/* line 139, ../sass/style.scss */
.navigation-bar__nav__language__drop {
  position: absolute;
  min-height: 32px;
  text-align: right;
  display: flex;
  flex-direction: column;
  background-color: #023574;
  right: 0;
  top: 48px;
  padding: 15px;
  z-index: 1;
  border-radius: 0 0 6px 6px;
}
/* line 151, ../sass/style.scss */
.navigation-bar__nav__language__drop.lang-collapse {
  display: none;
}
/* line 154, ../sass/style.scss */
.navigation-bar__nav__language__drop a {
  vertical-align: middle;
  width: auto;
  height: 14px;
  position: relative;
  margin-bottom: 10px;
  padding: 0;
  white-space: nowrap;
}
/* line 163, ../sass/style.scss */
.navigation-bar__nav__language__drop a:hover p {
  opacity: 0.8;
}
/* line 167, ../sass/style.scss */
.navigation-bar__nav__language__drop a p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 14px;
  color: white;
}
/* line 175, ../sass/style.scss */
.navigation-bar__nav__language__drop a picture {
  height: 100%;
}
/* line 178, ../sass/style.scss */
.navigation-bar__nav__language__drop a img {
  vertical-align: baseline;
  height: 100%;
  width: auto;
}
/* line 186, ../sass/style.scss */
.navigation-bar__nav ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  flex-direction: row;
  margin: 0;
}
/* line 192, ../sass/style.scss */
.navigation-bar__nav ul li {
  margin-left: 25px;
}
/* line 194, ../sass/style.scss */
.navigation-bar__nav ul li a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 28px;
}
/* line 199, ../sass/style.scss */
.navigation-bar__nav ul li a:hover {
  opacity: 0.8;
}

/* line 207, ../sass/style.scss */
#header__calendar {
  background: url("../img/img_main.jpg") no-repeat center #3892CE;
  background-size: cover;
  position: relative;
  margin-bottom: 40px;
}
/* line 212, ../sass/style.scss */
#header__calendar.mod-option {
  background: url("") #3892CE;
  margin-bottom: -45px;
}
/* line 215, ../sass/style.scss */
#header__calendar.mod-option .calendar {
  height: auto;
  padding: 12px 0;
}

/* line 221, ../sass/style.scss */
.calendar {
  height: 656px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-bottom: 80px;
}
/* line 228, ../sass/style.scss */
.calendar__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 60px;
  line-height: 71px;
  margin-bottom: 30px;
}
/* line 235, ../sass/style.scss */
.calendar__body {
  width: 100%;
  height: 48px;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
/* line 242, ../sass/style.scss */
.calendar__body form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 0;
}
/* line 250, ../sass/style.scss */
.calendar__body__point {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
/* line 255, ../sass/style.scss */
.calendar__body__point input::-moz-placeholder {
  color: #023574;
  font-weight: 600;
  line-height: 26px;
  font-size: 16px;
  opacity: 0.8;
}
/* line 262, ../sass/style.scss */
.calendar__body__point input::-webkit-input-placeholder {
  color: #023574;
  font-weight: 600;
  line-height: 26px;
  font-size: 16px;
  opacity: 0.8;
}
/* line 269, ../sass/style.scss */
.calendar__body__point input {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 26px;
  color: #023574;
}
/* line 279, ../sass/style.scss */
.calendar__body__point input:focus {
  border: none;
  outline: none;
}
/* line 284, ../sass/style.scss */
.calendar__body__point.input-date {
  padding: 10px 0;
}
/* line 287, ../sass/style.scss */
.calendar__body__point.button-block {
  padding: 3px 3px 4px 3px;
}
/* line 290, ../sass/style.scss */
.calendar__body__point__input {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
}
/* line 297, ../sass/style.scss */
.calendar__body__point__input img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
/* line 303, ../sass/style.scss */
.calendar__body__point__input input {
  width: 100%;
}
/* line 306, ../sass/style.scss */
.calendar__body__point__input-date {
  width: 50%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 50px;
  padding-right: 32px;
}
/* line 314, ../sass/style.scss */
.calendar__body__point__input-date:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  background: url("../img/arrow_drop_down.svg") no-repeat center;
  background-size: contain;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 325, ../sass/style.scss */
.calendar__body__point__input-date:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #D8D8D8;
}
/* line 334, ../sass/style.scss */
.calendar__body__point__input-date img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
/* line 340, ../sass/style.scss */
.calendar__body__point__input-date span {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 28px;
  color: black;
  opacity: 0.5;
  display: inline-block;
  margin-right: 5px;
}
/* line 349, ../sass/style.scss */
.calendar__body__point__input-date input {
  width: auto;
  max-width: 60%;
}
/* line 355, ../sass/style.scss */
.calendar__body__point button {
  width: 100%;
  height: 100%;
  background-color: #FFCC00;
  border: none;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: #023574;
  font-size: 15px;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}
/* line 371, ../sass/style.scss */
.calendar__body__point button p {
  margin-bottom: 0;
}
/* line 374, ../sass/style.scss */
.calendar__body__point button:focus {
  border: none;
  outline: none;
}
/* line 378, ../sass/style.scss */
.calendar__body__point button:hover {
  background-color: #e8b900;
}
/* line 384, ../sass/style.scss */
.calendar__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 35px;
}
/* line 389, ../sass/style.scss */
.calendar__info__wrap {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  width: auto;
  border-radius: 4px;
  background-color: rgba(2, 53, 116, 0.5);
  align-items: center;
}
/* line 400, ../sass/style.scss */
.calendar__info ul {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
}
/* line 404, ../sass/style.scss */
.calendar__info ul li {
  padding-left: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 15px;
  color: white;
  line-height: 24px;
  margin-bottom: 3px;
}
/* line 413, ../sass/style.scss */
.calendar__info p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: #FFCC00;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: -0.5px;
  font-variant-numeric: normal;
  margin-left: 60px;
}
/* line 423, ../sass/style.scss */
.calendar__info p u {
  margin-left: 2px;
  font-weight: 600;
  font-size: 60px;
  text-decoration: none;
  line-height: 71px;
}
/* line 432, ../sass/style.scss */
.calendar__footer {
  position: absolute;
  bottom: -40px;
  height: 40px;
  left: 0;
  width: 100%;
  background-color: #F8F8F8;
}
/* line 439, ../sass/style.scss */
.calendar__footer__body {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 445, ../sass/style.scss */
.calendar__footer__body__rate {
  margin-right: 15px;
}
/* line 447, ../sass/style.scss */
.calendar__footer__body__rate a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
/* line 452, ../sass/style.scss */
.calendar__footer__body__rate__wrapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
/* line 457, ../sass/style.scss */
.calendar__footer__body__rate__wrapp__star {
  width: 23px;
  height: 23px;
  margin-right: 3px;
  position: relative;
}
/* line 462, ../sass/style.scss */
.calendar__footer__body__rate__wrapp__star img {
  height: 100%;
  width: auto;
}
/* line 470, ../sass/style.scss */
.calendar__footer__body__link a {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: #023574;
  font-size: 16px;
  line-height: 19px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  vertical-align: bottom;
}

/* line 483, ../sass/style.scss */
.how-works {
  margin-bottom: 80px;
}
/* line 485, ../sass/style.scss */
.how-works__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 48px;
  line-height: 57px;
  color: #023574;
  width: 100%;
  margin-bottom: 25px;
}
/* line 493, ../sass/style.scss */
.how-works__sub-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: black;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}
/* line 503, ../sass/style.scss */
.how-works__body__card__wrapp {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  height: 100%;
  background-color: white;
}
/* line 508, ../sass/style.scss */
.how-works__body__card__wrapp__ico {
  height: 140px;
  width: 100%;
  position: relative;
  padding: 32px 0;
  text-align: center;
}
/* line 514, ../sass/style.scss */
.how-works__body__card__wrapp__ico:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 25%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #FFCC00;
}
/* line 524, ../sass/style.scss */
.how-works__body__card__wrapp__ico img {
  height: 100%;
  text-align: center;
}
/* line 529, ../sass/style.scss */
.how-works__body__card__wrapp__text {
  width: 100%;
  padding: 20px 30px;
}
/* line 532, ../sass/style.scss */
.how-works__body__card__wrapp__text p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 22px;
  color: black;
  text-align: center;
  margin-bottom: 0;
}
/* line 540, ../sass/style.scss */
.how-works__body__card__wrapp__text .how-works__body__card__wrapp__text__title {
  color: #023574;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 15px;
}

/* line 552, ../sass/style.scss */
.parking-about {
  margin-bottom: 80px;
}
/* line 554, ../sass/style.scss */
.parking-about__images {
  position: relative;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}
/* line 558, ../sass/style.scss */
.parking-about__images img {
  width: 100%;
  height: auto;
}
/* line 563, ../sass/style.scss */
.parking-about__text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 18px;
}
/* line 568, ../sass/style.scss */
.parking-about__text h2 {
  color: #023574;
  font-size: 48px;
  line-height: 57px;
  font-weight: 600;
  margin-bottom: 35px;
}
/* line 575, ../sass/style.scss */
.parking-about__text p {
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}
/* line 579, ../sass/style.scss */
.parking-about__text ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 30px;
}
/* line 583, ../sass/style.scss */
.parking-about__text ul li {
  font-weight: 500;
  padding-left: 35px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  position: relative;
}
/* line 591, ../sass/style.scss */
.parking-about__text ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  background-color: #FFCC00;
}
/* line 602, ../sass/style.scss */
.parking-about__text ol {
  padding-left: 0;
  list-style-type: none;
  counter-reset: num;
}
/* line 606, ../sass/style.scss */
.parking-about__text ol li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}
/* line 615, ../sass/style.scss */
.parking-about__text ol li:before {
  content: counter(num) ".";
  counter-increment: num;
  position: absolute;
  top: 1px;
  left: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}

/* line 631, ../sass/style.scss */
#first-look {
  position: relative;
  padding-top: 45px;
  margin-bottom: 80px;
}

/* line 637, ../sass/style.scss */
.first-look.mod-option {
  padding-bottom: 55px;
}
/* line 640, ../sass/style.scss */
.first-look.mod-option .first-look__card__img {
  height: auto;
  padding: 40px 35px 10px 35px;
  text-align: left;
}
/* line 644, ../sass/style.scss */
.first-look.mod-option .first-look__card__img:before {
  transform: translateX(0);
  left: 35px;
}
/* line 651, ../sass/style.scss */
.first-look__bg {
  width: 100%;
  background-color: #FFCC00;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 16px 0 rgba(0, 0, 0, 0.1);
}
/* line 659, ../sass/style.scss */
.first-look__bg.mod-option {
  top: auto;
  bottom: 0;
  height: 65%;
}
/* line 665, ../sass/style.scss */
.first-look__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 48px;
  line-height: 57px;
  color: #023574;
  margin-bottom: 25px;
  position: relative;
}
/* line 673, ../sass/style.scss */
.first-look__sub-title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 24px;
  line-height: 29px;
  color: #023574;
  margin-bottom: 10px;
  position: relative;
}
/* line 681, ../sass/style.scss */
.first-look__par {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 30px;
  position: relative;
}
/* line 689, ../sass/style.scss */
.first-look__card {
  width: 100%;
  position: relative;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 100%;
}
/* line 695, ../sass/style.scss */
.first-look__card__img {
  width: 100%;
  padding: 30px 0 25px 0;
  text-align: center;
  height: 140px;
  position: relative;
}
/* line 701, ../sass/style.scss */
.first-look__card__img:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25%;
  height: 4px;
  transform: translateX(-50%);
  background-color: #FFCC00;
}
/* line 711, ../sass/style.scss */
.first-look__card__img img {
  height: 100%;
}
/* line 714, ../sass/style.scss */
.first-look__card__img__text {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 24px;
  color: #023574;
  line-height: 29px;
}
/* line 721, ../sass/style.scss */
.first-look__card__text {
  padding: 10px 35px 20px 35px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: black;
  font-size: 16px;
  line-height: 16px;
}
/* line 727, ../sass/style.scss */
.first-look__card__text__title {
  font-weight: 600;
  color: #023574;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
/* line 733, ../sass/style.scss */
.first-look__card__text__par {
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}

/* line 742, ../sass/style.scss */
.reservation {
  margin-bottom: 45px;
  align-items: stretch;
}
/* line 745, ../sass/style.scss */
.reservation__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: black;
  font-size: 16px;
  line-height: 28px;
}
/* line 750, ../sass/style.scss */
.reservation__text h2 {
  color: #023574;
  font-size: 48px;
  line-height: 57px;
  margin-bottom: 25px;
}
/* line 756, ../sass/style.scss */
.reservation__text p {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}
/* line 764, ../sass/style.scss */
.reservation__block__wrap {
  height: 100%;
  background-color: #023574;
  box-shadow: 2px 2px 8px 0 rgba(106, 106, 106, 0.2), 0 2px 16px 0 rgba(186, 186, 186, 0.2);
  padding: 45px 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 18px;
  line-height: 21px;
  color: white;
}
/* line 773, ../sass/style.scss */
.reservation__block__wrap__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  color: #FFCC00;
  margin-bottom: 15px;
}
/* line 780, ../sass/style.scss */
.reservation__block__wrap__sub-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  color: white;
  margin-bottom: 15px;
  padding-bottom: 30px;
  position: relative;
}
/* line 788, ../sass/style.scss */
.reservation__block__wrap__sub-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #3892CE;
  height: 4px;
  width: 64px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
/* line 799, ../sass/style.scss */
.reservation__block__wrap__par {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.25px;
  margin-bottom: 35px;
}

/* line 810, ../sass/style.scss */
.partners {
  margin-bottom: 80px;
}
/* line 812, ../sass/style.scss */
.partners__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 48px;
  line-height: 57px;
  color: #023574;
  margin-bottom: 45px;
  width: 100%;
}
/* line 820, ../sass/style.scss */
.partners__body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 825, ../sass/style.scss */
.partners__body__card {
  width: 20%;
  cursor: pointer;
  display: inline-block;
}
/* line 829, ../sass/style.scss */
.partners__body__card__wrap {
  width: 100%;
  position: relative;
  padding: 0 10%;
}
/* line 834, ../sass/style.scss */
.partners__body__card img {
  width: 100%;
  height: auto;
}

/* line 841, ../sass/style.scss */
#subscribe {
  background-color: #3892CE;
  padding: 50px 0;
}

/* line 846, ../sass/style.scss */
.footer__subscribe {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 850, ../sass/style.scss */
.footer__subscribe__block {
  padding: 0;
}
/* line 853, ../sass/style.scss */
.footer__subscribe__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 48px;
  line-height: 57px;
  color: white;
  margin-bottom: 0;
}
/* line 860, ../sass/style.scss */
.footer__subscribe__sub-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 28px;
  color: white;
  margin-bottom: 0;
}
/* line 867, ../sass/style.scss */
.footer__subscribe__input {
  width: 90%;
  margin: 0 0 0 auto;
  height: 48px;
  background-color: white;
  border: 1px solid #D5D5D5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 3px 3px 4px 3px;
  position: relative;
  display: flex;
  flex-direction: row;
}
/* line 879, ../sass/style.scss */
.footer__subscribe__input input.footer__subscribe__input__text::-moz-placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 885, ../sass/style.scss */
.footer__subscribe__input input.footer__subscribe__input__text::-webkit-input-placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 891, ../sass/style.scss */
.footer__subscribe__input__text {
  flex-grow: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 15px;
  border: none;
  outline: none;
}
/* line 900, ../sass/style.scss */
.footer__subscribe__input__text:focus {
  border: none;
  outline: none;
}
/* line 905, ../sass/style.scss */
.footer__subscribe__input__submit {
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  height: 100%;
  background-color: #FFCC00;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: #023574;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 0 30px;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer;
}
/* line 920, ../sass/style.scss */
.footer__subscribe__input__submit:focus {
  border: none;
  outline: none;
}
/* line 924, ../sass/style.scss */
.footer__subscribe__input__submit:hover {
  background-color: #e8b900;
}
/* line 930, ../sass/style.scss */
.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 935, ../sass/style.scss */
.footer__info__about__logo {
  position: relative;
  height: 28px;
  margin-bottom: 30px;
}
/* line 939, ../sass/style.scss */
.footer__info__about__logo a {
  display: inline-block;
  position: relative;
  height: 100%;
}
/* line 943, ../sass/style.scss */
.footer__info__about__logo a img {
  height: 100%;
}
/* line 948, ../sass/style.scss */
.footer__info__about p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 30px;
}
/* line 958, ../sass/style.scss */
.footer__info__property__block {
  margin-bottom: 30px;
}
/* line 960, ../sass/style.scss */
.footer__info__property__block__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 15px;
}
/* line 968, ../sass/style.scss */
.footer__info__property__block ul {
  list-style-type: none;
  padding: 0;
}
/* line 971, ../sass/style.scss */
.footer__info__property__block ul li {
  margin-bottom: 5px;
}
/* line 973, ../sass/style.scss */
.footer__info__property__block ul li a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}
/* line 980, ../sass/style.scss */
.footer__info__property__block ul li a:hover {
  color: rgba(255, 255, 255, 0.4);
}
/* line 989, ../sass/style.scss */
.footer__info__information__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 15px;
}
/* line 997, ../sass/style.scss */
.footer__info__information ul {
  list-style-type: none;
  padding: 0;
}
/* line 1000, ../sass/style.scss */
.footer__info__information ul li {
  margin-bottom: 5px;
}
/* line 1002, ../sass/style.scss */
.footer__info__information ul li a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}
/* line 1009, ../sass/style.scss */
.footer__info__information ul li a:hover {
  color: rgba(255, 255, 255, 0.4);
}
/* line 1017, ../sass/style.scss */
.footer__info__social__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 15px;
}
/* line 1025, ../sass/style.scss */
.footer__info__social ul {
  list-style-type: none;
  padding: 0;
}
/* line 1028, ../sass/style.scss */
.footer__info__social ul li {
  margin-bottom: 5px;
}
/* line 1030, ../sass/style.scss */
.footer__info__social ul li a {
  display: inline-block;
  height: 24px;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}
/* line 1040, ../sass/style.scss */
.footer__info__social ul li a img {
  margin-right: 5px;
}
/* line 1043, ../sass/style.scss */
.footer__info__social ul li a:hover {
  color: rgba(255, 255, 255, 0.4);
}
/* line 1049, ../sass/style.scss */
.footer__info__social__label {
  margin-top: 60px;
  width: 80%;
  position: relative;
}
/* line 1053, ../sass/style.scss */
.footer__info__social__label img {
  width: 100%;
  height: auto;
}

/* line 1061, ../sass/style.scss */
#footer {
  background-color: #023574;
  padding: 50px 0;
}

/* line 1065, ../sass/style.scss */
.works-about {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  color: black;
  margin-bottom: 80px;
}
/* line 1070, ../sass/style.scss */
.works-about p.works-about__title {
  font-weight: 600;
  color: #023574;
  line-height: 57px;
  font-size: 48px;
  margin-bottom: 30px;
}
/* line 1077, ../sass/style.scss */
.works-about p {
  color: rgba(0, 0, 0, 0.87);
  line-height: 19px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  font-weight: 500;
}
/* line 1084, ../sass/style.scss */
.works-about ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 30px;
}
/* line 1088, ../sass/style.scss */
.works-about ul li {
  font-weight: 500;
  padding-left: 35px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  position: relative;
}
/* line 1096, ../sass/style.scss */
.works-about ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  background-color: #FFCC00;
}

/* line 1108, ../sass/style.scss */
.parking-more {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: black;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 80px;
}
/* line 1114, ../sass/style.scss */
.parking-more p.parking-more__title {
  color: #023574;
  font-size: 48px;
  line-height: 57px;
  font-weight: 600;
  margin-bottom: 30px;
}
/* line 1121, ../sass/style.scss */
.parking-more p.parking-more__sub-title {
  color: #023574;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* line 1128, ../sass/style.scss */
.parking-more p {
  color: rgba(0, 0, 0, 0.87);
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
  font-weight: 500;
}

/* line 1136, ../sass/style.scss */
#map-parking {
  background-color: grey;
  height: 355px;
  margin-bottom: 80px;
}

/* line 1141, ../sass/style.scss */
.places {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  margin-bottom: 80px;
}
/* line 1144, ../sass/style.scss */
.places__title {
  color: #023574;
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  margin-bottom: 30px;
}
/* line 1152, ../sass/style.scss */
.places__body__card {
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  height: 200px;
}
/* line 1159, ../sass/style.scss */
.places__body__card__img {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 265px;
}
/* line 1164, ../sass/style.scss */
.places__body__card__img img {
  height: 100%;
}
/* line 1168, ../sass/style.scss */
.places__body__card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 32px;
}
/* line 1173, ../sass/style.scss */
.places__body__card__info__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: #023574;
  margin-bottom: 10px;
}
/* line 1180, ../sass/style.scss */
.places__body__card__info__address {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
/* line 1188, ../sass/style.scss */
.places__body__card__info__link {
  margin-top: auto;
  display: flex;
  flex-direction: row;
}
/* line 1192, ../sass/style.scss */
.places__body__card__info__link a {
  display: inline-block;
  border: 1px solid #3892CE;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  font-weight: 600;
  cursor: pointer;
  color: #3892CE;
  padding: 8px 20px 6px 20px;
  margin-right: 8px;
}
/* line 1202, ../sass/style.scss */
.places__body__card__info__link a:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}
/* line 1208, ../sass/style.scss */
.places__body__card__button {
  padding: 32px;
}

/* line 1214, ../sass/style.scss */
.places-more {
  margin-bottom: 80px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
}
/* line 1217, ../sass/style.scss */
.places-more__title {
  color: #023574;
  font-size: 48px;
  line-height: 57px;
  font-weight: 600;
  margin-bottom: 30px;
}
/* line 1225, ../sass/style.scss */
.places-more__body__card {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
}
/* line 1232, ../sass/style.scss */
.places-more__body__card:nth-child(2n) .places-more__body__card__img {
  order: 1;
}
/* line 1235, ../sass/style.scss */
.places-more__body__card:nth-child(2n) .places-more__body__card__text {
  padding-left: 0;
  padding-right: 40px;
}
/* line 1241, ../sass/style.scss */
.places-more__body__card__img {
  width: 40%;
  flex-shrink: 0;
  position: relative;
}
/* line 1245, ../sass/style.scss */
.places-more__body__card__img__wrap {
  overflow: hidden;
  height: 0;
  padding-top: 62%;
  position: relative;
}
/* line 1250, ../sass/style.scss */
.places-more__body__card__img__wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
/* line 1260, ../sass/style.scss */
.places-more__body__card__text {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: auto;
}
/* line 1265, ../sass/style.scss */
.places-more__body__card__text p {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  /* line 2, ../sass/_media.scss */
  .navigation-bar__info {
    text-align: center;
  }

  /* line 5, ../sass/_media.scss */
  .navigation-bar__info span {
    margin-right: 0;
  }

  /* line 8, ../sass/_media.scss */
  .calendar {
    height: 500px;
    padding-bottom: 40px;
  }

  /* line 12, ../sass/_media.scss */
  .how-works__body__card__wrapp__ico {
    height: 120px;
    padding: 15px 0;
  }

  /* line 16, ../sass/_media.scss */
  .how-works__body__card__wrapp__text {
    padding: 15px 20px;
  }

  /* line 19, ../sass/_media.scss */
  .first-look__card__img {
    padding: 15px 0;
    height: 120px;
  }

  /* line 23, ../sass/_media.scss */
  .first-look__card__text {
    padding: 20px 35px 20px 35px;
  }

  /* line 26, ../sass/_media.scss */
  .reservation__block__wrap__title {
    font-size: 40px;
    margin-bottom: 5px;
  }

  /* line 30, ../sass/_media.scss */
  .reservation__block__wrap__sub-title {
    font-size: 38px;
  }

  /* line 33, ../sass/_media.scss */
  .reservation__block__wrap__par {
    font-size: 18px;
  }

  /* line 36, ../sass/_media.scss */
  .reservation__block__wrap {
    padding: 35px 30px;
  }

  /* line 39, ../sass/_media.scss */
  .footer__subscribe__title {
    font-size: 42px;
  }
}
@media screen and (max-width: 991px) {
  /* line 44, ../sass/_media.scss */
  .navigation-bar__info {
    text-align: right;
  }

  /* line 47, ../sass/_media.scss */
  .navigation-bar__info span {
    margin-right: 10px;
  }

  /* line 50, ../sass/_media.scss */
  .navigation-bar__nav nav {
    justify-content: space-between;
  }

  /* line 53, ../sass/_media.scss */
  .navigation-bar__nav ul li {
    margin-left: 0;
    margin-right: 25px;
  }

  /* line 57, ../sass/_media.scss */
  .navigation-bar__nav {
    padding-left: 0;
    margin-top: 15px;
  }

  /* line 61, ../sass/_media.scss */
  .calendar__title {
    font-size: 48px;
    line-height: 58px;
  }

  /* line 65, ../sass/_media.scss */
  .calendar__body__point {
    flex-wrap: wrap;
    height: auto;
  }

  /* line 69, ../sass/_media.scss */
  .calendar__body form {
    flex-wrap: wrap;
  }

  /* line 72, ../sass/_media.scss */
  .calendar__body__point.button-block {
    align-items: center;
    margin-top: 10px;
  }

  /* line 76, ../sass/_media.scss */
  .calendar__body__point button {
    height: auto;
    padding: 12px 18px 8px 18px;
    width: auto;
    margin: 0 auto;
  }

  /* line 82, ../sass/_media.scss */
  .how-works__sub-title {
    margin-bottom: 30px;
  }

  /* line 85, ../sass/_media.scss */
  .how-works__body__card {
    margin-bottom: 30px;
  }

  /* line 88, ../sass/_media.scss */
  .how-works__body__card__wrapp__ico {
    height: 100px;
    padding: 5px 0;
  }

  /* line 92, ../sass/_media.scss */
  .how-works__body__card__wrapp__text .how-works__body__card__wrapp__text__title {
    margin-bottom: 5px;
  }

  /* line 95, ../sass/_media.scss */
  .how-works__title {
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 15px;
  }

  /* line 100, ../sass/_media.scss */
  .how-works {
    margin-bottom: 40px;
  }

  /* line 103, ../sass/_media.scss */
  .parking-about__text h2 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 25px;
  }

  /* line 108, ../sass/_media.scss */
  .parking-about__text p {
    margin-bottom: 15px;
  }

  /* line 111, ../sass/_media.scss */
  .parking-about {
    margin-bottom: 40px;
  }

  /* line 114, ../sass/_media.scss */
  .first-look__card__img {
    padding: 10px 0;
    height: 90px;
  }

  /* line 118, ../sass/_media.scss */
  .first-look__card__text {
    padding: 15px;
    font-size: 15px;
  }

  /* line 122, ../sass/_media.scss */
  .first-look__bg {
    height: 250px;
  }

  /* line 125, ../sass/_media.scss */
  #first-look {
    margin-bottom: 60px;
  }

  /* line 128, ../sass/_media.scss */
  .reservation__text h2 {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 20px;
  }

  /* line 133, ../sass/_media.scss */
  .reservation__text p {
    margin-bottom: 10px;
  }

  /* line 136, ../sass/_media.scss */
  .reservation__text {
    line-height: 22px;
  }

  /* line 139, ../sass/_media.scss */
  .reservation__block__wrap {
    padding: 15px 20px;
  }

  /* line 142, ../sass/_media.scss */
  .reservation__block__wrap__title {
    line-height: 40px;
  }

  /* line 145, ../sass/_media.scss */
  .reservation__block__wrap__sub-title {
    padding-bottom: 10px;
  }

  /* line 148, ../sass/_media.scss */
  .reservation__block__wrap__par {
    margin-bottom: 15px;
  }

  /* line 151, ../sass/_media.scss */
  .partners__title {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 25px;
  }

  /* line 156, ../sass/_media.scss */
  .partners__body__card__wrap {
    padding: 0 5%;
  }

  /* line 159, ../sass/_media.scss */
  .partners {
    margin-bottom: 40px;
  }

  /* line 162, ../sass/_media.scss */
  #subscribe {
    padding: 30px 0;
  }

  /* line 165, ../sass/_media.scss */
  .footer__subscribe__title {
    font-size: 32px;
    line-height: 42px;
  }

  /* line 169, ../sass/_media.scss */
  .footer__subscribe__sub-title {
    font-size: 14px;
  }

  /* line 172, ../sass/_media.scss */
  .footer__subscribe__input {
    width: 100%;
  }

  /* line 175, ../sass/_media.scss */
  .footer__info__about__logo {
    margin-bottom: 10px;
  }

  /* line 178, ../sass/_media.scss */
  .footer__info__about p {
    margin-bottom: 10px;
  }

  /* line 181, ../sass/_media.scss */
  .footer__info__property__block__title {
    margin-bottom: 5px;
  }

  /* line 184, ../sass/_media.scss */
  .footer__info__property__block ul li {
    margin-bottom: 0;
  }

  /* line 187, ../sass/_media.scss */
  .footer__info__property__block ul {
    margin-bottom: 0;
  }

  /* line 190, ../sass/_media.scss */
  .footer__info__property__block {
    margin-bottom: 20px;
  }

  /* line 193, ../sass/_media.scss */
  .footer__info__information__title {
    margin-bottom: 5px;
  }

  /* line 196, ../sass/_media.scss */
  .footer__info__information ul {
    margin-bottom: 0;
  }

  /* line 199, ../sass/_media.scss */
  .footer__info__information ul li {
    margin-bottom: 0;
  }

  /* line 202, ../sass/_media.scss */
  .footer__info__social ul li a {
    white-space: nowrap;
  }

  /* line 205, ../sass/_media.scss */
  .footer__info__social__label {
    width: 100%;
    margin-top: 30px;
  }

  /* line 209, ../sass/_media.scss */
  .calendar__info {
    margin-top: 75px;
  }

  /* line 212, ../sass/_media.scss */
  .works-about p.works-about__title, .places-more__title, .places__title, .parking-more p.parking-more__title {
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 15px;
  }

  /* line 217, ../sass/_media.scss */
  .places__body__card__img {
    width: 170px;
    flex-shrink: 0;
  }

  /* line 221, ../sass/_media.scss */
  .places__body__card {
    height: 180px;
  }

  /* line 224, ../sass/_media.scss */
  .places__body__card__info {
    padding: 18px;
  }

  /* line 227, ../sass/_media.scss */
  .places__body__card__info__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  /* line 232, ../sass/_media.scss */
  .places__body__card__info__address {
    font-size: 15px;
    line-height: 20px;
  }

  /* line 236, ../sass/_media.scss */
  .places__body__card__button {
    padding: 13px;
  }

  /* line 239, ../sass/_media.scss */
  .works-about, .parking-more, #map-parking, .places, .places-more {
    margin-bottom: 50px;
  }

  /* line 242, ../sass/_media.scss */
  .places-more__body__card {
    margin-bottom: 20px;
  }

  /* line 245, ../sass/_media.scss */
  .first-look.mod-option .first-look__card__img {
    padding: 30px 20px 10px;
  }

  /* line 248, ../sass/_media.scss */
  .first-look__card__img__text {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
  }

  /* line 253, ../sass/_media.scss */
  .first-look.mod-option .first-look__card__img::before {
    left: 20px;
  }

  /* line 256, ../sass/_media.scss */
  #header__calendar.mod-option .calendar__body {
    margin-bottom: 55px;
  }

  /* line 259, ../sass/_media.scss */
  #header__calendar.mod-option {
    margin-bottom: -85px;
  }
}
@media screen and (max-width: 767px) {
  /* line 264, ../sass/_media.scss */
  #header__calendar.mod-option .calendar__body {
    margin-bottom: 0;
  }

  /* line 267, ../sass/_media.scss */
  .first-look__bg.mod-option {
    display: none;
  }

  /* line 270, ../sass/_media.scss */
  .navigation-bar__info {
    padding: 0;
    justify-content: space-around;
    display: flex;
  }

  /* line 275, ../sass/_media.scss */
  .navigation-bar__nav {
    margin-top: 0;
  }

  /* line 278, ../sass/_media.scss */
  .calendar__title {
    font-size: 36px;
    line-height: 42px;
  }

  /* line 282, ../sass/_media.scss */
  .calendar__body {
    height: auto;
  }

  /* line 285, ../sass/_media.scss */
  .calendar__body__point {
    padding: 10px 20px;
  }

  /* line 288, ../sass/_media.scss */
  .calendar__body__point__input-date:nth-child(1):before {
    height: 0;
  }

  /* line 291, ../sass/_media.scss */
  .calendar__body__point.button-block {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  /* line 295, ../sass/_media.scss */
  .parking-about__text h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 15px;
  }

  /* line 300, ../sass/_media.scss */
  .parking-about__text p {
    letter-spacing: 0;
    margin-bottom: 10px;
  }

  /* line 304, ../sass/_media.scss */
  .parking-about__text {
    font-size: 14px;
    line-height: 16px;
  }

  /* line 308, ../sass/_media.scss */
  .first-look__title {
    font-size: 36px;
    line-height: 48px;
  }

  /* line 312, ../sass/_media.scss */
  #first-look {
    padding-top: 25px;
    margin-bottom: 20px;
  }

  /* line 316, ../sass/_media.scss */
  .first-look > div {
    margin-bottom: 30px;
  }

  /* line 319, ../sass/_media.scss */
  .first-look__bg {
    height: 220px;
  }

  /* line 322, ../sass/_media.scss */
  .partners__body {
    flex-wrap: wrap;
  }

  /* line 325, ../sass/_media.scss */
  .partners__body__card {
    width: 30%;
    margin-bottom: 20px;
  }

  /* line 329, ../sass/_media.scss */
  .partners__body__card__wrap {
    padding: 0 10%;
  }

  /* line 332, ../sass/_media.scss */
  .footer__subscribe__block {
    margin-bottom: 15px;
  }

  /* line 335, ../sass/_media.scss */
  .footer__info__social__label {
    width: 50%;
  }

  /* line 338, ../sass/_media.scss */
  .works-about ul li {
    line-height: 18px;
  }

  /* line 341, ../sass/_media.scss */
  .parking-more p {
    margin-bottom: 10px;
    line-height: 22px;
  }

  /* line 345, ../sass/_media.scss */
  .places__body__card__img {
    width: 35%;
    height: auto;
  }

  /* line 349, ../sass/_media.scss */
  .places__body__card__img img {
    height: auto;
    width: 100%;
  }

  /* line 353, ../sass/_media.scss */
  .places__body__card {
    align-items: flex-start;
    flex-wrap: wrap;
    height: auto;
  }

  /* line 358, ../sass/_media.scss */
  .places__body__card__info {
    width: 65%;
    padding: 8px 14px;
  }

  /* line 362, ../sass/_media.scss */
  .places__body__card__button {
    padding: 0;
    width: 35%;
  }

  /* line 366, ../sass/_media.scss */
  .places__body__card__button .yellow-btn {
    width: 100%;
  }

  /* line 369, ../sass/_media.scss */
  .places__body__card__info__link a {
    padding: 4px 14px 2px 14px;
  }

  /* line 372, ../sass/_media.scss */
  .works-about p.works-about__title, .places-more__title, .places__title, .parking-more p.parking-more__title {
    font-size: 32px;
    line-height: 36px;
  }

  /* line 376, ../sass/_media.scss */
  .places-more__body__card {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  /* line 380, ../sass/_media.scss */
  .places-more__body__card__img {
    width: 100%;
    margin-bottom: 10px;
  }

  /* line 384, ../sass/_media.scss */
  .places-more__body__card__text {
    padding: 0 5px;
    text-align: center;
  }

  /* line 388, ../sass/_media.scss */
  .places-more__body__card:nth-child(2n) .places-more__body__card__text {
    padding: 0 5px;
    text-align: center;
  }

  /* line 392, ../sass/_media.scss */
  .places-more__body__card:nth-child(2n) .places-more__body__card__img {
    order: 0;
  }

  /* line 395, ../sass/_media.scss */
  .calendar__info {
    display: none;
  }
}
@media screen and (max-width: 574px) {
  /* line 400, ../sass/_media.scss */
  .first-look.mod-option {
    padding-bottom: 0;
  }

  /* line 403, ../sass/_media.scss */
  .navigation-bar__info {
    display: none;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  /* line 408, ../sass/_media.scss */
  .navigation-bar__nav {
    display: none;
  }

  /* line 411, ../sass/_media.scss */
  .navigation-bar__collapse {
    display: block;
  }

  /* line 414, ../sass/_media.scss */
  .navigation-bar__info span {
    margin: 10px;
  }

  /* line 417, ../sass/_media.scss */
  .navigation-bar__info a {
    margin: 10px;
  }

  /* line 420, ../sass/_media.scss */
  .navigation-bar__nav ul li {
    margin-right: 0;
  }

  /* line 423, ../sass/_media.scss */
  .navigation-bar__nav nav {
    align-items: center;
    flex-direction: column;
  }

  /* line 427, ../sass/_media.scss */
  .navigation-bar__nav ul {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  /* line 432, ../sass/_media.scss */
  .navigation-bar__nav__language {
    margin-left: 0;
    width: 100%;
  }

  /* line 436, ../sass/_media.scss */
  .navigation-bar__nav__language:before {
    width: 0;
  }

  /* line 439, ../sass/_media.scss */
  .navigation-bar__nav__language__active a {
    height: 22px;
    padding-right: 36px;
  }

  /* line 443, ../sass/_media.scss */
  .navigation-bar__nav__language__active {
    text-align: center;
  }

  /* line 446, ../sass/_media.scss */
  .navigation-bar__nav__language__active a:before {
    right: 10px;
    width: 15px;
    height: 8px;
    top: 8px;
  }

  /* line 452, ../sass/_media.scss */
  .navigation-bar__nav__language__drop {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  /* line 458, ../sass/_media.scss */
  .calendar__title {
    font-size: 26px;
    line-height: 28px;
  }

  /* line 462, ../sass/_media.scss */
  .calendar {
    height: 400px;
  }

  /* line 465, ../sass/_media.scss */
  .calendar__body__point__input-date {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* line 470, ../sass/_media.scss */
  .calendar__body__point__input-date:before {
    width: 95%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }

  /* line 477, ../sass/_media.scss */
  .calendar__body__point__input-date:nth-child(1):before {
    height: 2px;
  }

  /* line 480, ../sass/_media.scss */
  .calendar__footer__body__rate {
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  /* line 485, ../sass/_media.scss */
  .calendar__footer__body__link a {
    text-align: center;
    padding: 0 30px;
  }

  /* line 489, ../sass/_media.scss */
  .calendar__footer {
    height: 90px;
    bottom: -90px;
  }

  /* line 493, ../sass/_media.scss */
  #header__calendar {
    margin-bottom: 110px;
  }

  /* line 496, ../sass/_media.scss */
  .how-works__title {
    font-size: 30px;
    line-height: 44px;
  }

  /* line 500, ../sass/_media.scss */
  .how-works__body__card {
    margin-bottom: 15px;
  }

  /* line 503, ../sass/_media.scss */
  .parking-about__images {
    width: 260px;
    margin: 0 auto;
  }

  /* line 507, ../sass/_media.scss */
  .how-works {
    margin-bottom: 20px;
  }

  /* line 510, ../sass/_media.scss */
  .first-look__title {
    font-size: 28px;
    line-height: 36px;
  }

  /* line 514, ../sass/_media.scss */
  .reservation__text h2 {
    font-size: 34px;
    line-height: 34px;
  }

  /* line 518, ../sass/_media.scss */
  .reservation__block__wrap__title {
    font-size: 32px;
  }

  /* line 521, ../sass/_media.scss */
  .reservation__block__wrap__sub-title {
    font-size: 28px;
    line-height: 44px;
  }

  /* line 525, ../sass/_media.scss */
  .partners__title {
    padding: 0 15px;
    font-size: 36px;
    line-height: 38px;
  }

  /* line 530, ../sass/_media.scss */
  .partners__body__card {
    width: 50%;
  }

  /* line 533, ../sass/_media.scss */
  .footer__subscribe {
    padding: 0 15px;
  }

  /* line 536, ../sass/_media.scss */
  .footer__subscribe__title {
    font-size: 24px;
    line-height: 28px;
  }

  /* line 540, ../sass/_media.scss */
  .footer__subscribe__sub-title {
    line-height: 20px;
  }

  /* line 543, ../sass/_media.scss */
  .footer__subscribe__input__text {
    padding: 0 5px;
  }

  /* line 546, ../sass/_media.scss */
  .footer__subscribe__input__submit {
    padding: 0 5px;
  }

  /* line 549, ../sass/_media.scss */
  .footer__info__about__logo {
    text-align: center;
  }

  /* line 552, ../sass/_media.scss */
  #footer {
    padding: 30px 0;
  }

  /* line 555, ../sass/_media.scss */
  .footer__info__about p {
    text-align: center;
  }

  /* line 558, ../sass/_media.scss */
  .footer__info__property__block {
    text-align: center;
  }

  /* line 561, ../sass/_media.scss */
  .footer__info__information {
    text-align: center;
  }

  /* line 564, ../sass/_media.scss */
  .footer__info__social {
    text-align: center;
    margin-top: 15px;
  }

  /* line 568, ../sass/_media.scss */
  .footer__info__social__label {
    margin-left: auto;
    margin-right: auto;
  }

  /* line 572, ../sass/_media.scss */
  .works-about ul li {
    padding-left: 25px;
  }

  /* line 575, ../sass/_media.scss */
  .works-about p.works-about__title, .places-more__title, .places__title, .parking-more p.parking-more__title {
    font-size: 26px;
    line-height: 28px;
  }

  /* line 579, ../sass/_media.scss */
  .places__body__card__img {
    width: 100%;
    height: 140px;
  }

  /* line 583, ../sass/_media.scss */
  .places__body__card__img img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  /* line 588, ../sass/_media.scss */
  .places__body__card__info {
    width: 100%;
  }

  /* line 591, ../sass/_media.scss */
  .places__body__card__button {
    width: 100%;
    margin-top: 10px;
  }

  /* line 595, ../sass/_media.scss */
  .works-about, .parking-more, #map-parking, .places, .places-more {
    margin-left: 0;
    margin-right: 0;
  }
}
