/* line 1, ../sass/_btn.scss */
button, button:active, button:hover, button:visited, button:focus {
  outline: none !important;
  cursor: pointer;
}

/* line 5, ../sass/_btn.scss */
a, a:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* line 10, ../sass/_btn.scss */
.yellow-btn {
  height: 40px;
  background-color: #FFCC00;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  vertical-align: middle;
  border: none;
  outline: none;
  padding: 0 25px;
  color: #023574;
}
/* line 26, ../sass/_btn.scss */
.yellow-btn:focus {
  border: none;
  outline: none;
}
/* line 30, ../sass/_btn.scss */
.yellow-btn:hover {
  background-color: #e8b900;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
/* line 5, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* line 11, ../sass/style.scss */
#header__nav-bar {
  background-color: #023574;
}

/* line 14, ../sass/style.scss */
.navigation-bar {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
/* line 20, ../sass/style.scss */
.navigation-bar__logo {
  padding: 0;
  position: relative;
}
/* line 23, ../sass/style.scss */
.navigation-bar__logo a {
  display: inline-block;
  width: auto;
  height: 28px;
}
/* line 29, ../sass/style.scss */
.navigation-bar__logo picture img {
  height: 100%;
}
/* line 35, ../sass/style.scss */
.navigation-bar__info span {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
  margin-right: 10px;
}
/* line 43, ../sass/style.scss */
.navigation-bar__info a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 19px;
}
/* line 48, ../sass/style.scss */
.navigation-bar__info a:hover {
  opacity: 0.8;
}
/* line 53, ../sass/style.scss */
.navigation-bar__nav {
  padding-right: 0;
}
/* line 55, ../sass/style.scss */
.navigation-bar__nav nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
/* line 61, ../sass/style.scss */
.navigation-bar__nav__language {
  position: relative;
  display: inline-flex;
  width: 65px;
  min-height: 32px;
  margin-left: 20px;
}
/* line 67, ../sass/style.scss */
.navigation-bar__nav__language a {
  display: inline-block;
}
/* line 70, ../sass/style.scss */
.navigation-bar__nav__language:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
  width: 1px;
  background-color: #4E719D;
}
/* line 79, ../sass/style.scss */
.navigation-bar__nav__language__active {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 32px;
  text-align: right;
}
/* line 85, ../sass/style.scss */
.navigation-bar__nav__language__active a {
  vertical-align: middle;
  width: auto;
  height: 14px;
  padding-right: 22px;
  position: relative;
}
/* line 91, ../sass/style.scss */
.navigation-bar__nav__language__active a:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  background: url("../img/arrow_drop_down.svg") no-repeat center;
  background-size: contain;
  right: 0;
  top: 50%;
}
/* line 101, ../sass/style.scss */
.navigation-bar__nav__language__active a picture {
  height: 100%;
}
/* line 104, ../sass/style.scss */
.navigation-bar__nav__language__active a img {
  vertical-align: baseline;
  height: 100%;
  width: auto;
}
/* line 111, ../sass/style.scss */
.navigation-bar__nav__language__drop {
  position: absolute;
  min-height: 32px;
  text-align: right;
  display: flex;
  flex-direction: column;
  background-color: #023574;
  right: 0;
  top: 48px;
  padding: 15px;
  z-index: 1;
  border-radius: 0 0 6px 6px;
}
/* line 123, ../sass/style.scss */
.navigation-bar__nav__language__drop.lang-collapse {
  display: none;
}
/* line 126, ../sass/style.scss */
.navigation-bar__nav__language__drop a {
  vertical-align: middle;
  width: auto;
  height: 14px;
  position: relative;
  margin-bottom: 10px;
  padding: 0;
  white-space: nowrap;
}
/* line 135, ../sass/style.scss */
.navigation-bar__nav__language__drop a:hover p {
  opacity: 0.8;
}
/* line 139, ../sass/style.scss */
.navigation-bar__nav__language__drop a p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 14px;
  color: white;
}
/* line 147, ../sass/style.scss */
.navigation-bar__nav__language__drop a picture {
  height: 100%;
}
/* line 150, ../sass/style.scss */
.navigation-bar__nav__language__drop a img {
  vertical-align: baseline;
  height: 100%;
  width: auto;
}
/* line 158, ../sass/style.scss */
.navigation-bar__nav ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  flex-direction: row;
  margin: 0;
}
/* line 164, ../sass/style.scss */
.navigation-bar__nav ul li {
  margin-left: 25px;
}
/* line 166, ../sass/style.scss */
.navigation-bar__nav ul li a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 28px;
}
/* line 171, ../sass/style.scss */
.navigation-bar__nav ul li a:hover {
  opacity: 0.8;
}

/* line 179, ../sass/style.scss */
#header__calendar {
  background: url("../img/img_main.jpg") no-repeat center grey;
  background-size: cover;
  position: relative;
  margin-bottom: 40px;
}

/* line 185, ../sass/style.scss */
.calendar {
  height: 656px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-bottom: 80px;
}
/* line 192, ../sass/style.scss */
.calendar__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 60px;
  line-height: 71px;
  margin-bottom: 30px;
}
/* line 199, ../sass/style.scss */
.calendar__body {
  width: 100%;
  height: 48px;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
/* line 206, ../sass/style.scss */
.calendar__body form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 0;
}
/* line 214, ../sass/style.scss */
.calendar__body__point {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
/* line 219, ../sass/style.scss */
.calendar__body__point input::-moz-placeholder {
  color: #023574;
  font-weight: 600;
  line-height: 26px;
  font-size: 16px;
  opacity: 0.8;
}
/* line 226, ../sass/style.scss */
.calendar__body__point input::-webkit-input-placeholder {
  color: #023574;
  font-weight: 600;
  line-height: 26px;
  font-size: 16px;
  opacity: 0.8;
}
/* line 233, ../sass/style.scss */
.calendar__body__point input {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 26px;
  color: #023574;
}
/* line 243, ../sass/style.scss */
.calendar__body__point input:focus {
  border: none;
  outline: none;
}
/* line 248, ../sass/style.scss */
.calendar__body__point.input-date {
  padding: 10px 0;
}
/* line 251, ../sass/style.scss */
.calendar__body__point.button-block {
  padding: 3px 3px 4px 3px;
}
/* line 254, ../sass/style.scss */
.calendar__body__point__input {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
}
/* line 261, ../sass/style.scss */
.calendar__body__point__input img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
/* line 267, ../sass/style.scss */
.calendar__body__point__input input {
  width: 100%;
}
/* line 270, ../sass/style.scss */
.calendar__body__point__input-date {
  width: 50%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 50px;
  padding-right: 32px;
}
/* line 278, ../sass/style.scss */
.calendar__body__point__input-date:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  background: url("../img/arrow_drop_down.svg") no-repeat center;
  background-size: contain;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 289, ../sass/style.scss */
.calendar__body__point__input-date:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #D8D8D8;
}
/* line 298, ../sass/style.scss */
.calendar__body__point__input-date img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
/* line 304, ../sass/style.scss */
.calendar__body__point__input-date span {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 28px;
  color: black;
  opacity: 0.5;
  display: inline-block;
  margin-right: 5px;
}
/* line 313, ../sass/style.scss */
.calendar__body__point__input-date input {
  width: auto;
  max-width: 60%;
}
/* line 319, ../sass/style.scss */
.calendar__body__point button {
  width: 100%;
  height: 100%;
  background-color: #FFCC00;
  border: none;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: #023574;
  font-size: 15px;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}
/* line 335, ../sass/style.scss */
.calendar__body__point button p {
  margin-bottom: 0;
}
/* line 338, ../sass/style.scss */
.calendar__body__point button:focus {
  border: none;
  outline: none;
}
/* line 342, ../sass/style.scss */
.calendar__body__point button:hover {
  background-color: #e8b900;
}
/* line 348, ../sass/style.scss */
.calendar__footer {
  position: absolute;
  bottom: -40px;
  height: 40px;
  left: 0;
  width: 100%;
  background-color: #F8F8F8;
}
/* line 355, ../sass/style.scss */
.calendar__footer__body {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 361, ../sass/style.scss */
.calendar__footer__body__rate {
  margin-right: 15px;
}
/* line 363, ../sass/style.scss */
.calendar__footer__body__rate a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
/* line 368, ../sass/style.scss */
.calendar__footer__body__rate__wrapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
/* line 373, ../sass/style.scss */
.calendar__footer__body__rate__wrapp__star {
  width: 23px;
  height: 23px;
  margin-right: 3px;
  position: relative;
}
/* line 378, ../sass/style.scss */
.calendar__footer__body__rate__wrapp__star img {
  height: 100%;
  width: auto;
}
/* line 386, ../sass/style.scss */
.calendar__footer__body__link a {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: #023574;
  font-size: 16px;
  line-height: 19px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  vertical-align: bottom;
}

/* line 399, ../sass/style.scss */
.how-works {
  margin-top: 65px;
  margin-bottom: 80px;
}
/* line 402, ../sass/style.scss */
.how-works__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 48px;
  line-height: 57px;
  color: #023574;
  width: 100%;
  margin-bottom: 25px;
}
/* line 410, ../sass/style.scss */
.how-works__sub-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: black;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}
/* line 420, ../sass/style.scss */
.how-works__body__card__wrapp {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  min-height: 290px;
  background-color: white;
}
/* line 425, ../sass/style.scss */
.how-works__body__card__wrapp__ico {
  height: 140px;
  width: 100%;
  position: relative;
  padding: 32px 0;
  text-align: center;
}
/* line 431, ../sass/style.scss */
.how-works__body__card__wrapp__ico:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 25%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #FFCC00;
}
/* line 441, ../sass/style.scss */
.how-works__body__card__wrapp__ico img {
  height: 100%;
  text-align: center;
}
/* line 446, ../sass/style.scss */
.how-works__body__card__wrapp__text {
  width: 100%;
  padding: 20px 30px;
}
/* line 449, ../sass/style.scss */
.how-works__body__card__wrapp__text p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 22px;
  color: black;
  text-align: center;
  margin-bottom: 0;
}
/* line 457, ../sass/style.scss */
.how-works__body__card__wrapp__text .how-works__body__card__wrapp__text__title {
  color: #023574;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 15px;
}

/* line 469, ../sass/style.scss */
.parking-about {
  margin-bottom: 80px;
}
/* line 471, ../sass/style.scss */
.parking-about__images {
  position: relative;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}
/* line 475, ../sass/style.scss */
.parking-about__images img {
  width: 100%;
  height: auto;
}
/* line 480, ../sass/style.scss */
.parking-about__text {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 18px;
}
/* line 485, ../sass/style.scss */
.parking-about__text h2 {
  color: #023574;
  font-size: 48px;
  line-height: 57px;
  font-weight: 600;
  margin-bottom: 35px;
}
/* line 492, ../sass/style.scss */
.parking-about__text p {
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}

/* line 498, ../sass/style.scss */
#first-look {
  position: relative;
  padding-top: 45px;
  margin-bottom: 80px;
}

/* line 504, ../sass/style.scss */
.first-look__bg {
  width: 100%;
  background-color: #FFCC00;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 16px 0 rgba(0, 0, 0, 0.1);
}
/* line 513, ../sass/style.scss */
.first-look__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 48px;
  line-height: 57px;
  color: #023574;
  margin-bottom: 25px;
  position: relative;
}
/* line 521, ../sass/style.scss */
.first-look__card {
  width: 100%;
  position: relative;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  min-height: 220px;
}
/* line 527, ../sass/style.scss */
.first-look__card__img {
  width: 100%;
  padding: 30px 0 25px 0;
  text-align: center;
  height: 140px;
  position: relative;
}
/* line 533, ../sass/style.scss */
.first-look__card__img:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25%;
  height: 4px;
  transform: translateX(-50%);
  background-color: #FFCC00;
}
/* line 543, ../sass/style.scss */
.first-look__card__img img {
  height: 100%;
}
/* line 547, ../sass/style.scss */
.first-look__card__text {
  padding: 10px 35px 20px 35px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: black;
  font-size: 16px;
  line-height: 16px;
}
/* line 553, ../sass/style.scss */
.first-look__card__text__title {
  font-weight: 600;
  color: #023574;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/* line 562, ../sass/style.scss */
.reservation {
  margin-bottom: 45px;
  align-items: stretch;
}
/* line 565, ../sass/style.scss */
.reservation__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: black;
  font-size: 16px;
  line-height: 28px;
}
/* line 570, ../sass/style.scss */
.reservation__text h2 {
  color: #023574;
  font-size: 48px;
  line-height: 57px;
  margin-bottom: 25px;
}
/* line 576, ../sass/style.scss */
.reservation__text p {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}
/* line 584, ../sass/style.scss */
.reservation__block__wrap {
  height: 100%;
  background-color: #023574;
  box-shadow: 2px 2px 8px 0 rgba(106, 106, 106, 0.2), 0 2px 16px 0 rgba(186, 186, 186, 0.2);
  padding: 45px 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 18px;
  line-height: 21px;
  color: white;
}
/* line 593, ../sass/style.scss */
.reservation__block__wrap__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  color: #FFCC00;
  margin-bottom: 15px;
}
/* line 600, ../sass/style.scss */
.reservation__block__wrap__sub-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  color: white;
  margin-bottom: 15px;
  padding-bottom: 30px;
  position: relative;
}
/* line 608, ../sass/style.scss */
.reservation__block__wrap__sub-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #3892CE;
  height: 4px;
  width: 64px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
/* line 619, ../sass/style.scss */
.reservation__block__wrap__par {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.25px;
  margin-bottom: 35px;
}

/* line 630, ../sass/style.scss */
.partners {
  margin-bottom: 80px;
}
/* line 632, ../sass/style.scss */
.partners__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 48px;
  line-height: 57px;
  color: #023574;
  margin-bottom: 45px;
  width: 100%;
}
/* line 640, ../sass/style.scss */
.partners__body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 645, ../sass/style.scss */
.partners__body__card {
  width: 20%;
  cursor: pointer;
  display: inline-block;
}
/* line 649, ../sass/style.scss */
.partners__body__card__wrap {
  width: 100%;
  position: relative;
  padding: 0 10%;
}
/* line 654, ../sass/style.scss */
.partners__body__card img {
  width: 100%;
  height: auto;
}

/* line 661, ../sass/style.scss */
#subscribe {
  background-color: #3892CE;
  padding: 50px 0;
}

/* line 666, ../sass/style.scss */
.footer__subscribe {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 670, ../sass/style.scss */
.footer__subscribe__block {
  padding: 0;
}
/* line 673, ../sass/style.scss */
.footer__subscribe__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 48px;
  line-height: 57px;
  color: white;
  margin-bottom: 0;
}
/* line 680, ../sass/style.scss */
.footer__subscribe__sub-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 28px;
  color: white;
  margin-bottom: 0;
}
/* line 687, ../sass/style.scss */
.footer__subscribe__input {
  width: 90%;
  margin: 0 0 0 auto;
  height: 48px;
  background-color: white;
  border: 1px solid #D5D5D5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 3px 3px 4px 3px;
  position: relative;
  display: flex;
  flex-direction: row;
}
/* line 699, ../sass/style.scss */
.footer__subscribe__input input.footer__subscribe__input__text::-moz-placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 705, ../sass/style.scss */
.footer__subscribe__input input.footer__subscribe__input__text::-webkit-input-placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 711, ../sass/style.scss */
.footer__subscribe__input__text {
  flex-grow: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 15px;
  border: none;
  outline: none;
}
/* line 720, ../sass/style.scss */
.footer__subscribe__input__text:focus {
  border: none;
  outline: none;
}
/* line 725, ../sass/style.scss */
.footer__subscribe__input__submit {
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  height: 100%;
  background-color: #FFCC00;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: #023574;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 0 30px;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer;
}
/* line 740, ../sass/style.scss */
.footer__subscribe__input__submit:focus {
  border: none;
  outline: none;
}
/* line 744, ../sass/style.scss */
.footer__subscribe__input__submit:hover {
  background-color: #e8b900;
}
/* line 750, ../sass/style.scss */
.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 755, ../sass/style.scss */
.footer__info__about__logo {
  position: relative;
  height: 28px;
  margin-bottom: 30px;
}
/* line 759, ../sass/style.scss */
.footer__info__about__logo a {
  display: inline-block;
  position: relative;
  height: 100%;
}
/* line 763, ../sass/style.scss */
.footer__info__about__logo a img {
  height: 100%;
}
/* line 768, ../sass/style.scss */
.footer__info__about p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 30px;
}
/* line 778, ../sass/style.scss */
.footer__info__property__block {
  margin-bottom: 30px;
}
/* line 780, ../sass/style.scss */
.footer__info__property__block__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 15px;
}
/* line 788, ../sass/style.scss */
.footer__info__property__block ul {
  list-style-type: none;
  padding: 0;
}
/* line 791, ../sass/style.scss */
.footer__info__property__block ul li {
  margin-bottom: 5px;
}
/* line 793, ../sass/style.scss */
.footer__info__property__block ul li a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}
/* line 800, ../sass/style.scss */
.footer__info__property__block ul li a:hover {
  color: rgba(255, 255, 255, 0.4);
}
/* line 809, ../sass/style.scss */
.footer__info__information__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 15px;
}
/* line 817, ../sass/style.scss */
.footer__info__information ul {
  list-style-type: none;
  padding: 0;
}
/* line 820, ../sass/style.scss */
.footer__info__information ul li {
  margin-bottom: 5px;
}
/* line 822, ../sass/style.scss */
.footer__info__information ul li a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}
/* line 829, ../sass/style.scss */
.footer__info__information ul li a:hover {
  color: rgba(255, 255, 255, 0.4);
}
/* line 837, ../sass/style.scss */
.footer__info__social__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: white;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 15px;
}
/* line 845, ../sass/style.scss */
.footer__info__social ul {
  list-style-type: none;
  padding: 0;
}
/* line 848, ../sass/style.scss */
.footer__info__social ul li {
  margin-bottom: 5px;
}
/* line 850, ../sass/style.scss */
.footer__info__social ul li a {
  display: inline-block;
  height: 24px;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: lining-nums;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}
/* line 860, ../sass/style.scss */
.footer__info__social ul li a img {
  margin-right: 5px;
}
/* line 863, ../sass/style.scss */
.footer__info__social ul li a:hover {
  color: rgba(255, 255, 255, 0.4);
}
/* line 869, ../sass/style.scss */
.footer__info__social__label {
  margin-top: 60px;
  width: 80%;
  position: relative;
}
/* line 873, ../sass/style.scss */
.footer__info__social__label img {
  width: 100%;
  height: auto;
}

/* line 881, ../sass/style.scss */
#footer {
  background-color: #023574;
  padding: 50px 0;
}
